*{
    box-sizing: border-box;
    margin:  0;
    padding: 0;
    margin-left: 10px;
   margin-top: 10px;
  }
  
  /* body{
      line-height: 1.6;
      font-family: Arial, Helvetica, sans-serif;
  } */

  .nav-items{
    display: flex;
    gap: 100px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }
  /* .active-item{
    color: #FF6666;
    font-size: large;
  }
  .sub-headlines{
      
  }
  .sub-headline{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #FF6666;
    display: inline-;
  }
  .action-btn{
    background-color: #FF6666;
border-radius: 25px;
border: none;
padding: 15px 30px;
color: #fff;
  }
  h3{
    font-size: 35px;
  }
  h1{
    font-size: 65px;
  }
  .discount-content{
   
  }
  img{
    
  } */
  body{
    background-color: rgb(255,255,255);
}
/* nav{
    display:flex;
    flex-direction: row;
    margin:20px
} */
.nav-items{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
/* .nav-items>h5{
    margin-left: 70px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
} */
.nav-items>h5:hover{
    color:rgb(254,94,53);
    font-weight: 600;
    cursor: pointer;
}
nav>img+div+img{
 width: 220px !important;
 margin-left:180px
}
nav>img{
  width: 85px;
}
.intro-section{
    display: flex;
    flex-direction: row;
}
.left-section{
    width: 50%;
    margin-left:20px;
}
.left-section>h3{
    font-size:30px;
    font-weight:100;
    font-family: sans-serif;
}
.left-section>h3>img{
    width: 40px;
    margin-left: 5px;
}
.left-section>h3+h1{
    font-weight: 900;
    font-size: 50px;
    font-family: sans-serif;

}
.sub-headline>img{
    background-color: rgb(254,94,53);
    border-radius: 15px;
    padding: 7px;
    width: 10px;
    margin-right:10px;
    position: relative;
    top:4px
}
.sub-headline{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-left: 50px !important;
}
.sub-headlines>h5{
    margin:10px;
}
.text{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 50;
    color:rgb(128,128,128);
    line-height: 20px;
    margin-top: 40px;
}
.action-btn{
    padding:10px 25px;
    background-color: rgb(254,94,53);
    color:#fff;
    border-radius:25px;
    border:0px;
    font-family: sans-serif;
    font-weight:300;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
}
.discount{
    position:absolute;
    z-index: 1;
    width:120px;
    top: 290px;
    left: 585px;
}
.discount-content{
    position: absolute;
    z-index: 1;
    top: 325px;
    left: 610px;
    color: #fff;
} 
.discount-content>h4 ,.discount-content>h4+h1{
margin:0px;
/* color:#fff; */
font-family: sans-serif;
}
.discount-content>h4{
    font-size: 10px;
    text-align: center;
}
.discount-content>h4+h1{
    font-weight: 800;
}

.headphone-div>img+div+img{
    width: 350px;
    position: relative;
    top:-15px;
    right:-30px;
}
.dots{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
    left:160px
}
.dot{
    width: 20px;
    border-radius:10px;
    height: 20px;
    margin-right: 20px;
    
}
.yellow-dot{
    background-color: rgb(251,209,4);
}
.tomato-dot{
    background-color: rgb(254,94,53);
}
.black-dot{
    background-color: rgb(0,0,0);
}
.right-section>button{
    margin-top:15px;
    margin-left:180px ;
}